{% extends 'basic_app/index.html' %}
{% block body_block %}

{% endblock %}

{% block login_block %}


<div class="jumbotron">
  <h1>Please Log In</h1>
  <form action="{% url 'basic_app:user_login' %}" method="POST">
    {% csrf_token %}
    <label for="username">User Name:</label>
    <input type="text" name="username" placeholder="Username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">
    <br>
    <input class='btn btn-primary' type="submit" name="" value="Log In">
    <br>

  </form>

</div>


{% endblock %}
